#one{
    background-color: rgb(2, 46, 11);
    flex:60%
    padding-left:30px;
    color:white;
    font-size: 45px;
    font-weight: 500;

}
p{
    font-size: 30px;
}
p,h2,h3{
    font-size: 30px 20px;
}
button{
    align: right;
    color:white;
    background-color: rgb(54, 4, 4);

}
#two{
    background-color: whitesmoke;
    flex: 40%;
}
div{
    display: flex;
    height: 700px;

}
body{
    background-color: black;

}
