@media screen and (max-width: 1024px){
    .button a{
        font-size: 16px;
    }
}
@media screen and(max-width:768px){
    .content-wrapper{
        padding-bottom: 50px;
    }
    .left-col,
    .right-col{
        width:100%
    }
    figure{
        height:300px;
    }
}
@media screen and(max-width: 420px){
    .button a{
        text-align: center;
    }
}
